<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>

		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ProducerEditor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="local" connectionString="Data Source=localhost;Database=usersettings;User ID=root;Password=;Connect Timeout=300;pooling=true;convert zero datetime=yes;Default command timeout=300;Allow User Variables=true;"/>
		<add name="integration" connectionString="Data Source=localhost;port=3311;Database=usersettings;User ID=root;Password=;Connect Timeout=300;pooling=true;convert zero datetime=yes;Default command timeout=300;Allow User Variables=true;"/>
	</connectionStrings>

	<applicationSettings>
		<ProducerEditor.Settings>
			<setting name="EndpointAddress" serializeAs="String">
				<value>http://localhost:64933/</value>
			</setting>
		</ProducerEditor.Settings>
	</applicationSettings>

	<appSettings>
		<add key="SynonymDeleteNotificationMail" value="kvasovtest@analit.net"/>
		<add key="SmtpServer" value="box.analit.net"/>
		<add key="UpdateUri" value="http://localhost/"/>
		<add key="Application" value="ProducerEditor"/>
		<add key="Version" value="1.0"/>
		<add key="Publisher" value="Inforoom"/>
		<add key="webPort" value="64933"/>
		<add key="webDirectory" value="../../../ProducerEditor.Service/"/>
	</appSettings>

	<log4net>

		<appender name="SQLFileLog" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>

		<!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->

		<root>
			<level value="ERROR"/>
			<appender-ref ref="SQLFileLog"/>
		</root>

		<logger name="NHibernate.SQL" additivity="false">
			<level value="ALL"/>
			<appender-ref ref="SQLFileLog"/>
		</logger>

	</log4net>

</configuration>
