<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>

	<appSettings>
		<add key="Version" value=""/>
		<add key="Application" value=""/>
		<add key="Publisher" value=""/>
		<add key="UpdateUri" value=""/>
	</appSettings>

	<!--Не надо ходить в интернет что бы проверить сертификаты загружаемых сборок-->
	<runtime>
		<generatePublisherEvidence enabled="false"/>
	</runtime>

	<!--.net client profile-->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>

	<log4net>
		<appender name="LogFile" type="log4net.Appender.FileAppender, log4net">
			<file value="Installer.log"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>

		<root>
			<level value="ERROR"/>
			<appender-ref ref="LogFile"/>
		</root>
	</log4net>

</configuration>
