<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Main" connectionString="Data Source=testsql.analit.net;Database=usersettings;User ID=system;Password=newpass;Connect Timeout=300;convert zero datetime=yes;Default command timeout=300" />
	</connectionStrings>
</configuration>