<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="ProducerEditor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="Master" connectionString="Data Source=testsql.analit.net;Database=usersettings;User ID=system;Password=newpass;Connect Timeout=300;convert zero datetime=yes;Default command timeout=300;Allow User Variables=true" />
	</connectionStrings>

	<applicationSettings>
		<ProducerEditor.Settings>
			<setting name="EndpointAddress" serializeAs="String">
				<value>http://localhost:64932/</value>
			</setting>
		</ProducerEditor.Settings>
	</applicationSettings>

	<log4net>

		<appender name="Email" type="log4net.Appender.SmtpAppender, log4net">
			<to value="r.kvasov@analit.net" />
			<from value="service@analit.net" />
			<subject value="Ошибка в Редакторе производителей" />
			<smtpHost value="mail.adc.analit.net" />
			<lossy value="false" />
			<layout type="log4net.Layout.PatternLayout, log4net">
				<conversionPattern value="Host: %property{log4net:HostName} %newlineUserName: %username %newlineDate: %date %newline" />
			</layout>
		</appender>

		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="log.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<maximumFileSize value="100KB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<root>
			<level value="ERROR" />
			<appender-ref ref="LogFile" />
			<appender-ref ref="Email" />
		</root>

		<logger name="NHibernate" additivity="false">
			<level value="OFF" />
		</logger>

	</log4net>

</configuration>